<div 
class="pictures"
*ngIf="picturesAndFolder$ | async as pictureAndFolder">
    <div>
        <div class="picture" 
            *ngFor="let picture of pictureAndFolder.pictures">
            <div 
            class="p_text purple">
                {{picture.folder? 'Папка' : 'Картинка'}}
            </div>
            <div *ngIf="pictureAndFolder.folder.many">
                <div class="p_border">
                    <img class="picta-pictures" [src]="picture.boysGreyPicture">
                </div>
                <div class="p_border">
                    <img class="picta-pictures" [src]="picture.girlsGreyPicture">
                </div>
                <div class="p_border">
                    <img class="picta-pictures" [src]="picture.boysColorPicture">
                </div>
                <div class="p_border">
                    <img class="picta-pictures" [src]="picture.girlsColorPicture">
                </div>
            </div>

            <div *ngIf="!pictureAndFolder.folder.many">
                <div class="p_border_one"><img class="picta_one" [src]="picture.boysGreyPicture"></div>
            </div>

            <div class="p_text">{{picture.text}}</div>

            <div class="button edit-picture">
                <a class="nav-admin" [routerLink]="['/manage/pictures', 'edit', pictureAndFolder.folder.many, picture._id]">
                    Редактировать
                </a>
            </div>
            <div 
            class="button edit-picture"
            *ngIf="picture.folder && pictureAndFolder.folder._id !== '5f130939962c2f062467f853'">
                <a 
                class="nav-admin"
                [routerLink]="['/manage/pictures', picture._id]">
                    Перейти
                </a>
            </div>
        </div>

        <button id="back_picture_bottom" hidden></button>
        <label 
            for="back_picture_bottom" 
            id="back_picture"
            *ngIf="pictureAndFolder.folder._id !== '5f12ff8cc06cd105437d84e3'">
                <a class="nav-admin" [routerLink]="['/manage/pictures', pictureAndFolder.folder.parent]">Назад</a>
        </label>

        <button id="add_picture_bottom" hidden></button>
        <label 
        for="add_picture_bottom" 
        id="add_picture" 
        >
            <a class="nav-admin" [routerLink]="['/manage/pictures', 'newpicture', pictureAndFolder.folder.many, pictureAndFolder.folder._id]">
                Добавить каринку
            </a>
        </label>
    
        <button id="folder_picture_bottom" hidden></button>
        <label 
        for="folder_picture_bottom" 
        id="add_folder">
            <a class="nav-admin" [routerLink]="['/manage/pictures', 'newfolder', pictureAndFolder.folder.many, pictureAndFolder.folder._id]">
                Добавить папку
            </a>
        </label>

    </div>

</div>



