<div *ngIf="!reloading; else reloader">
    <div class="user_filtr">
        <div *ngIf="session.levelStatus == 1">
            <p class="in_user_filtr dark-{{session.firstColor}}-color">Учреждение:</p>
            <select *ngIf="institutions$ | async as institutions" [(ngModel)]="institution" (change)="onFilter()">
                <option *ngFor="let institution of institutions" value="{{institution._id}}">{{institution.name}}</option>
            </select>
        </div>
    </div>

    <div *ngIf="events.length > 0; else empty">
        <div 
        class="user dark-{{session.firstColor}}-border"
        *ngFor="let event of events"
        id="{{event._id}}">
            <p class="user_title">{{event.text}}</p><br>
            <div class="div_user_info">
                <p class="user_info">
                    <span class="dark-{{session.firstColor}}-color">Автор:</span> {{event.autorName}}
                </p><br>
                <p class="user_info">
                    <span class="dark-{{session.firstColor}}-color">Модератор:</span> {{event.moderatorName ? event.moderatorName : "Нет модератора"}}
                </p><br>
                <p class="user_info">
                    <span class="dark-{{session.firstColor}}-color">Описание:</span> {{event.description}}
                </p> <br>

                <div *ngIf="!event.moderator"  
                class="nav-admin form_picture_button middle-{{session.firstColor}}-bg-hover" 
                (click)="becomeModerator(event._id)">
                    Стать модератором   
                </div>
                <div *ngIf="event.moderator == session._id"
                    
                class="nav-admin form_picture_button middle-{{session.firstColor}}-bg-hover" 
                [routerLink]="['/manage/events', event._id]"
                [queryParams]="{'institution': this.session.institution}">
                    Модерировать
                    
                </div>
            </div>
        </div>
        <br>
        <button id="more_button" type="button" hidden></button>
        <div *ngIf="!noMore">
            <label 
            *ngIf="!loading; else loader"
            for="more_button" 
            class="new_user_button center middle-{{session.firstColor}}-bg-hover"
            (click)="loadMore()">
                Загрузить ещё
            </label>
        </div>
        <ng-template #loader>
            <app-loader></app-loader>
        </ng-template>
    </div>

</div>

<ng-template #reloader>
    <app-loader></app-loader>
</ng-template>

<ng-template #empty>
    <div class="empty center">Мероприятия не найдены. Попробуйте применить другие фильтры.</div>
</ng-template>