<p>friends-page works!</p>
<!--
    <div class="search" *ngIf="users$ | async as users">
        <div class="box-friend" *ngFor="let user of users">
            <img class="friendAvatar gochat dark-{{session.firstColor}}-border" [src]="user.photo">
            <p class="friendName tc gochat dark-{{session.firstColor}}-border">{{user.name}}</p>
            <div class="gochat letter" *ngIf="true"> </div>  
            <div class="online gochat" *ngIf="user.onlineStatus != '-1' && session.online"
            [ngClass]="{notincat: user.onlineStatus != session._id, inchat: user.onlineStatus == session._id}"> </div>                                             	 
       </div>
    </div>
-->
