.audioDelete {
    background-image: url('/uploads/images/vote.png');
    background-size: 100% 100%;
}

.videoDelete {
    background-image: url('/uploads/images/camera.png');
    background-size: 100% 100%;
}

.documentDelete {
    background-image: url('/uploads/images/docs.png');
    background-size: 100% 100%;
}

.voteDelete {
    background-image: url('/uploads/images/microphone.png');
    background-size: 100% 100%;
}

.start-ontablo {
    margin-left: 5%;
    margin-left: 5%;
}
