.exit {
    position: fixed;
    right: 2%;
}

.chat-menu {
    position: fixed;
    right: 2%;
}

.start_event {
    margin: auto;
    margin-top: 30%;
    width: 62%;
    height: auto;
    font-size: 5vw;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    text-align: center;
}

.pictatext {
    font-size: 0.7cm;
}

.header {
    font-size: 1cm;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.event_tick {
    position: relative;
    height: 1.3cm;
    width: 1.3cm;
    background-image: url('/images/tick.png');
    background-size: 100% 100%;
    display: block;
    bottom: 5px;
    float: right;
    left: 3px;
    margin-top: -1.3cm;
}

.event_cross {
    position: relative;
    height: 1.3cm;
    width: 1.3cm;
    background-image: url('/images/cross.png');
    background-size: 100% 100%;
    display: block;
    bottom: 5px;
    float: right;
    left: 3px;
    margin-top: -1.3cm;
}

.pict_event {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 17.6vw;
    height: 17.6vw;
    object-fit: cover;
}

.inheader {
    margin-left: 2%;
    height: 0.8cm;
    font-size: 0.5cm;
    width: 50%;
    margin-top: 7px;
}

.description {
    height: 70%;
    width: 70%;
    font-size: 1cm;
    margin: auto;
    margin-top: 5%;
    resize: none;
    display: block;
    overflow: hidden;
}

.all {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
