<div class="all dark-{{session.secondColor}}-border" *ngIf="stage == 0">
     <div class="start_event dark-{{session.secondColor}}-border green-cursor" appEasyLang (click)="startEvent()">
         СОЗДАТЬ МЕРОПРИЯТИЕ
     </div>
</div>

<div class="all dark-{{session.secondColor}}-border" *ngIf="stage == 1">
    <div class="header" appEasyLang>
        Куда вы хотите пойти?
    </div>    
    <div *ngIf="buttons$ | async as buttons; else loader">
        <span *ngFor="let button of buttons"> 
    
            <div class="pictaandtext">
                <img class="pict dark-{{session.secondColor}}-border green-cursor" [src]="button.img" 
                (click)="makeEvent(button.type)">
                <p 
                class="pictatext tc dark-{{session.secondColor}}-border green-cursor" 
                *ngIf="button.text && session.text"
                (click)="makeEvent(button.type)"
                appEasyLang>
                    {{button.text}}
                </p>               
            </div>
    
        </span>
    </div>

</div>

<div class="all dark-{{session.secondColor}}-border" *ngIf="stage == 2">
    <div class="header" appEasyLang>
        Кого вы хотите позвать?
    </div> 

    <span class="chat-menu">

        <img class="menu-icon green-cursor" 
        src="/images/tick.png" 
        (click)="toDescription()">

        <img class="menu-icon green-cursor" 
        src="/images/people_transparent.png" 
        (click)="checkAll()">
        
        <img class="menu-icon green-cursor" 
        src="/images/notpeople.png" 
        (click)="checkNobody()">
        
    </span>

    <div *ngIf="institutions; else loader">
        <div class="pictaandtext" *ngFor="let institution of institutions">
            <img 
            class="pict_event dark-{{session.secondColor}}-border green-cursor" 
            [src]="institution.img"
            (click)="checkUser(institution._id)">
            <div class="green-cursor" 
            [ngClass]="{event_tick: myEventInstit.includes(institution._id), event_cross: !myEventInstit.includes(institution._id)}"
            (click)="checkUser(user._id)"> </div>
            <div class="pictatext tc dark-{{session.secondColor}}-border green-cursor" (click)="checkUser(institution._id)">
                <span appEasyLang>{{institution.name}}</span>
            </div>                                             	 
       </div>
    </div>

</div>

<div class="all dark-{{session.secondColor}}-border" *ngIf="stage == 3">
    <div class="header" appEasyLang>
        Описание
    </div> 

    <span class="chat-menu">

        <img class="menu-icon green-cursor" 
        src="/images/tick.png" 
        (click)="finish()">
        
    </span>


    <textarea class="description" [(ngModel)]="description"></textarea>
</div>

<div class="exit green-cursor" (click)="cross()"></div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>