<div *ngIf="session$ | async as session; else loader">
    <div *ngIf="institutions$ | async as institutions; else loader">
        <div 
        class="institution dark-{{session.firstColor}}-border"
        *ngFor="let institution of institutions">
            
            <a 
            class="inst-edit inst-right middle-{{session.firstColor}}-bg-hover" 
            [routerLink]="['/manage/institutions', institution._id]">
                Редактировать
            </a>
            <a 
            class="inst-edit inst-right middle-{{session.firstColor}}-bg-hover" 
            [routerLink]="['/manage/institutions/delete', institution._id]">
                Удалить
            </a>
                
            <span class="inst-span">{{institution.name}}</span>                
        </div>
    </div>

    <a 
    class="nav-admin middle-{{session.firstColor}}-bg-hover" 
    id="add_institution" 
    [routerLink]="['/manage/institutions', 'new']">
        Добавить учреждение
    </a>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>