<div class="backdrop"></div>

<div class="tablo">
    <p class="tc vtablo" appEasyLang>Хотите удалить чат?</p>
    <div class="ontablo start-ontablo">
         <img id="avatar" src="/images/dialog.png">
    </div>
    <div class="ontablo" id="strelka"></div>
    <div class="ontablo" id="musorka">
    </div><div class="ontablo" id="question"></div>
    <div id="cross" (click)="checked(false)" class="green-cursor"></div>
    <div id="tick" (click)="checked(true)" class="green-cursor"></div>
</div>
