.body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.people-active {
    display: none;
}
.myPhotoIMG {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
}
.menu {
    z-index: 3;
}