.body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.div-in-li {
    max-width: 100%;
    width: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
.div-img {
    max-width: 12rem;
    margin: auto;
}
.div-audio {
    width: 14rem;
}

#middle {
    overflow-y: auto;
    overflow-x: hidden;
    width: 94%;
    margin: 0; 
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 60px;
    top: 70px;
    display: table-cell;
    vertical-align: bottom;
    font-family: Arial, sans-serif;
    font-size: 0.6cm;
 } 

 .message {
     height: auto;
     max-width: 60%;
     display: inline-block;
     padding: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     border-width: 3px;
     border-style: solid;
     border-radius: 10px;
     width: auto;
 }

 .section {
     margin: 0;
 }

 .sender-message {
     float: right;
     clear: both;
 }

 .inter-message {
     float: left;
     clear: both;
     background-color: white;
 }

 .div-doument {
     height: 3rem;
     width: 3rem;
     vertical-align: middle;     
 }

 .docs {
    color: black;
 }

 .footer-out {
    width: auto;
    height: auto;
    float: right;
 }

 .footer {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
 }

 .delete-message-btn {
     background-image: url('/uploads/images/musorka.png');
     background-size: 100% 100%;
 }

 .see-message {
    background-image: url('/uploads/images/eye_see.png');
    background-size: 100% 100%;
}

.notsee-message {
    background-image: url('/uploads/images/eye_notsee.png');
    background-size: 100% 100%;
}

.answers-message-btn {
    background-image: url('/uploads/images/question.png');
    background-size: 100% 100%;
}

.separator {
    height: 100px;
    width: 100px;
    background-image: url('/uploads/images/eye_notsee.png');
    background-size: 100% 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
    margin: auto;
}
.forScroll {
    width: 100%;
    clear: both;
    height: 1px;
}