<div class="all dark-{{session.secondColor}}-border" *ngIf="!reloading; else loader" [@all]="allState">
    
    <form hidden [formGroup]="form">
        <input type="file" formControlName="files" id="files" multiple (change)="onFileUpload($event)">
    </form>
    
    <span class="chat-menu" [@button]="buttonsState">
        <img class="menu-icon green-cursor" 
        src="/uploads/images/musorka.png" 
        *ngIf="pictureAndFolder.folder.parent != '5f12ff8cc06cd105437d84e3'" 
        (click)="wantDeleteChat()">
        
        <img class="menu-icon green-cursor" 
        src="/uploads/images/left_pointing.png" 
        *ngIf="!sentenceToggle && session.sentence" 
        (click)="changeSentence()">

        <img class="menu-icon green-cursor" 
        src="/uploads/images/right_pointing.png" 
        *ngIf="sentenceToggle && session.sentence" 
        (click)="changeSentence()">

        <img 
        class="menu-icon green-cursor" 
        src="/uploads/images/bw.png" 
        *ngIf="queryC == 'color' && session.change && pictureAndFolder.folder.many != 0" 
        (click)="newColor('grey')">

        <img class="menu-icon green-cursor" 
        src="/uploads/images/color.png" 
        *ngIf="queryC == 'grey' && session.change && pictureAndFolder.folder.many != 0" 
        (click)="newColor('color')">

        <img class="menu-icon green-cursor" 
        src="/uploads/images/microphone.png" 
        *ngIf="session.vote && false" 
        (click)="wantRecordAudio()">

        <label *ngIf="pictureAndFolder.folder._id == '5f130939962c2f062467f853'" for="files">
            <img class="menu-icon green-cursor" 
            src="/uploads/images/downloads.png"  
            >
        </label>
        
    </span>

    <div class="sentence dark-{{session.secondColor}}-border" *ngIf="sentenceToggle">
        <div class="sent" appEasyLang>ПРЕДЛОЖЕНИЕ</div>
        <div *ngFor="let message of messages; let i = index">
            <div *ngIf="types[i] == 1" class="sent-m">
                <img class="sentence-in dark-{{session.secondColor}}-border" [src]="message">
            </div>
            <div *ngIf="types[i] == 2" class="sent-m">
                <div class="sentence-in dark-{{session.secondColor}}-border sentence-text" appEasyLang>
                    {{message}}
                </div>
            </div>
            <div *ngIf="types[i] == 3">
                <audio class="sentence-audio" controls>
                    <source [src]="message">
                </audio>
            </div>
            <div *ngIf="types[i] == 4" class="sent-m">
                <video class="sentence-in" controls>
                    <source [src]="message">
                </video>
            </div>
            <div *ngIf="types[i] == 5" class="sent-m">
                <div class="sentence-in dark-{{session.secondColor}}-border">
                    <img src="/uploads/images/docs.png" class="sentence-doument"> 
                    <span appEasyLang>ДОКУМЕНТ</span>
                </div>
            </div>
        </div>
        <div class="sentDelete green-cursor" (click)="clearSentence()"></div>
        <div class="sentLetter green-cursor" (click)="sendSentence()"></div>
    </div>

    <span *ngFor="let picture of pictureAndFolder.pictures">
        <div *ngIf="picture.folder" class="pictaandtext">
            <div class="picta folder">
                <div class="downloads-picture green-cursor" (click)="newFolder(picture._id)">
                    <img class="downloads" [src]="picture.src" *ngIf="picture.src">
                    <img class="downloads" src="/uploads/images/clean.png" *ngIf="!picture.src">
                </div>
                <p 
                class="libraryName tc dark-{{session.secondColor}}-border green-cursor" 
                *ngIf="picture.textInHTML"
                (click)="newFolder(picture._id)"
                appEasyLang>
                    {{picture.textInHTML}}
                </p>
            </div>  
        </div>        

        <div class="pictaandtext" 
        *ngIf="!picture.folder && picture.src && picture.parent != '5f1309f1962c2f062467f855' &&
        picture.parent != '5f130a00962c2f062467f856' && picture.parent != '5f130a0d962c2f062467f857'"
        id="{{picture._id}}">
            <img class="pict dark-{{session.secondColor}}-border green-cursor" [src]="picture.src" 
            (click)="makeMessage(1, picture.src)">
            <p 
            class="pictatext tc dark-{{session.secondColor}}-border green-cursor" 
            *ngIf="picture.textInHTML && session.text"
            (click)="makeMessage(2, picture.textInHTML)"
            appEasyLang>
                {{picture.textInHTML}}
            </p> 
            <span class="file-delete green-cursor" *ngIf="picture.parent == '5f1309e3962c2f062467f854'"
            (click)="wantDeletePicture(picture.src, picture._id)"></span>              
        </div>

        <div class="video-audio-box" 
        *ngIf="picture.parent == '5f130a00962c2f062467f856'"
        id="{{picture._id}}">
            <p *ngIf="picture.textInHTML" 
            class="audiotext dark-{{session.secondColor}}-border file-{{picture.color}}">{{picture.textInHTML}}</p>
            <audio class="audio" controls>
                <source [src]="picture.src">
            </audio>
            <span class="file-delete green-cursor" (click)="wantDeletePicture('audioDelete', picture._id)"></span> 
            <span class="file-letter green-cursor" (click)="makeMessage(3, picture.src)"></span>                       
        </div>

        <div class="video-audio-box" 
        *ngIf="picture.parent == '5f1309f1962c2f062467f855'"
        id="{{picture._id}}">
            <video class="video dark-{{session.secondColor}}-border" controls>
                <source [src]="picture.src">
            </video>
            <span class="file-delete green-cursor" (click)="wantDeletePicture('videoDelete', picture._id)"></span>  
            <span class="file-letter green-cursor" (click)="makeMessage(4, picture.src)"></span>                       
        </div>

        <div class="pictaandtext" *ngIf="picture.parent == '5f130a0d962c2f062467f857'"
        id="{{picture._id}}">
            <a [href]="picture.src" [download]="picture.textInHTML">
                <img class="pict dark-{{session.secondColor}}-border file-{{picture.color}} green-cursor" src="/uploads/images/docs.png">
            </a>
            <span class="file-delete green-cursor" (click)="wantDeletePicture('documentDelete', picture._id)"></span>
            <span class="file-letter green-cursor" (click)="makeMessage(5, picture.src)"></span> 
        </div>

    </span>
    
    <div class="exit green-cursor" (click)="cross()" [@button]="buttonsState"></div>

   <app-delete-picture *ngIf="deletePicture" [image]="image" (result)="fromDeletePicture($event)"></app-delete-picture>
   <app-delete-all-message *ngIf="deleteChat" (result)="fromDeleteChat($event)"></app-delete-all-message>
   <app-record-audio *ngIf="record"></app-record-audio>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
