.video-audio-box {
    width: 40%;
    height: auto;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%; 
    display: inline-block;
}

.video {
    display: block;
    position: relative;
    max-height: 15rem;
    max-width: 100%;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

.audio {
    display: block;
    position: relative;
    width: 80%;
}

.audiotext {
    width: 80%;
    position: relative;
    word-wrap: break-word;
    text-align: center;
    font-size: 0.45cm;
    font-family: Arial, sans-serif;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 0.1cm;
    margin-bottom: 0.2cm;
    height: auto;
}

.file-letter {
    margin-left: 20px;
    display: inline-block;
    margin-top: 5px;
    width: 100px;
    height: 50px;
    background-image: url('/uploads/images/letter.png');
    background-size: 100% 100%;
}

.file-delete {
    display: inline-block;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    background-image: url('/uploads/images/musorka.png');
    background-size: 100% 100%;
}

.sentence {
    position: fixed;
    top: 5%;
    bottom: 5%;
    right: 1.5%;
    width: 15%;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    z-index: 2;
    padding-bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sent {
    margin-top: 5px;
    text-align: center;
}

.sentLetter {
    position: fixed;
    height: 50px;
    width: 5%;
    right: 3%;
    bottom: 6%;
    background-image: url('/uploads/images/letter.png'); 
    background-size: 100% 100%;
    display: block;
}

.sentDelete {
    position: fixed;
    height: 50px;
    width: 50px;
    right: 10%;
    bottom: 6%;
    background-image: url('/uploads/images/musorka.png'); 
    background-size: 100% 100%;
    display: block;
}

.sentence-in {
    width: 80%;
    height: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 9%;
    text-align: left;
    word-wrap: break-word;
}

.sent-m {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
}

.sentence-text {
    padding: 3px;
}

.sentence-audio {
    width: 80%;
    margin-left: 9%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sentence-doument {
    height: 45px;
    width: auto;
}
