.description-input {
    width: 80%;
}

.red_button {
    background-color: red;
    color: white
}

.green_button {
    background-color: green;
    color: white
}

.phl_img {
    width: auto;
    height: 200px;
    display: inline-block;
    margin: 5px;
}