<form 
id="edit_picture_or_folder" 
[formGroup]="form" 
(ngSubmit)="onSubmit()"
class="dark-{{session.firstColor}}-border"
*ngIf="session$ | async as session; else loader">
    <div *ngIf="event; else loader">
        <p class="dark-{{session.firstColor}}-color">Мероприятие:</p>
        <div *ngIf="buttons$ | async as buttons">
            <div *ngFor="let button of buttons">
                <div *ngIf="event.type == button.type">{{button.text}}</div>
            </div>
        </div> <br>

        <p class="dark-{{session.firstColor}}-color">Описание:</p>
        <input type="text" formControlName="description" class="description-input"> <br><br>

        <p class="dark-{{session.firstColor}}-color">Адрес:</p>
        <input type="text" formControlName="address" class="description-input"> <br><br>

        <p class="dark-{{session.firstColor}}-color">Стоимость:</p>
        <input type="number" min="0" formControlName="cost" class="text-input"> <br><br>

        <p class="dark-{{session.firstColor}}-color">Дата и время:</p>
        <input type="datetime-local" [min]="now" formControlName="date"> <br><br>

        <div *ngIf="event.status != 0 && event.status != -1">
            <p class="dark-{{session.firstColor}}-color">Показывать:</p>
            <select formControlName="whomShow" (change)="changeWhomShow()" *ngIf="event.status != 0 && event.status != -1">
                <option value="0">Не ответили на запрос</option>
                <option value="1">Отказались</option>
                <option value="2">Учавствуют</option>
            </select>
            <br><br>
        </div>
        <div *ngIf="event.status == 0 || event.status == -1">
            <p class="dark-{{session.firstColor}}-color">Кому рассылать:</p>   
        </div>
        <p class="dark-{{session.firstColor}}-color">Учреждение:</p>
        <select *ngIf="institutions$ | async as institutions" formControlName="institution" (change)="changeInstitution()">
            <option 
            *ngFor="let institution of institutions" 
            value="{{institution._id}}"
            [selected]="(institution._id == session.institution)"
            >
            {{institution.name}}</option>
        </select>
       
        <div *ngIf="users$ | async as users">
            <div *ngIf="event.status == 0"> 
                <div *ngFor="let user of users">
                    <button (click)="checkUser(user._id)" type="button">{{wait.includes(user._id) ? 'Отменить' : 'Выбрать'}}</button>
                    {{user.name}} {{user.surname}}, {{user.login}} 
                </div>
            </div>
            <div *ngIf="event.status != 0 && whomShow == 0"> 
                <div *ngFor="let user of users">    
                    <div *ngIf="wait.includes(user._id)">{{user.name}} {{user.surname}}, {{user.login}} </div>
                </div>
            </div>
            <div *ngIf="whomShow == 1"> 
                <div *ngFor="let user of users">    
                    <div *ngIf="event.hide.includes(user._id)">{{user.name}} {{user.surname}}, {{user.login}} </div>
                </div>
            </div>
            <div *ngIf="whomShow == 2"> 
                <div *ngFor="let user of users">    
                    <div *ngIf="event.participants.includes(user._id)">{{user.name}} {{user.surname}}, {{user.login}} </div>
                </div>
            </div>
        </div>
        <br>

        <p class="dark-{{session.firstColor}}-color">Картинка чата (рекомендуется квадратное изображение):</p>
        <input type="file"  formControlName="chatImage"  (change)="onFileUpload($event)"><br>
        <img 
        class="now_img" 
        [src]="imagePreview"
        *ngIf="imagePreview"
        > <br>
    

        <a 
        class="nav-admin form_picture_button middle-{{session.firstColor}}-bg-hover" 
        [routerLink]="['/manage/events']">Назад</a>

        <button id="submit_button" type="submit" hidden></button>
        <label 
        for="submit_button" 
        class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover">
            Сохранить
        </label>

        <button id="submit_button" type="button" hidden></button>
        <label 
        for="submit_button" 
        class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover"
        (click)="mailing()"
        *ngIf="event.status == 0">
            Сделать рассылку
        </label>

        <button id="submit_button" type="button" hidden></button>
        <label 
        for="submit_button" 
        class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover"
        (click)="reject()"
        *ngIf="event.status == 0">
            Отклонить
        </label>

        <button id="submit_button" type="button" hidden></button>
        <label 
        for="submit_button" 
        class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover"
        (click)="complate()"
        *ngIf="event.status == 1">
            Завершить
        </label>
    </div>
</form>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>