<div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
         <h1>
              <p class="entrance tc notadmin" appEasyLang>Логин: </p>
              <input 
              formControlName="login"
              class="entrance text-cursor" 
              value="">

              <p class="entrance tc entrance_password notadmin" appEasyLang>Пароль:</p>
              <input 
              formControlName="password"
              class="entrance text-cursor" 
              value=""><br>
              
              <button 
              class="entrance" 
              id="bottom_entrance_hidden" 
              type="submit"
              [disabled]="form.invalid || form.disabled" 
               hidden> </button>

              <label 
              for="bottom_entrance_hidden"
              id="bottom_entrance" 
              class="tc green-cursor"
              appEasyLang>
                    ВХОД
               </label>            
         </h1>
    </form>
</div>
<img id="emoPicture" src="/images/emo.png">
<h1 class="tc" id="emoText" appEasyLang>ЭМО</h1>
