.chat { 
  width: 33%; 
  height: 100%;    
  display: inline-block;
  overflow: auto;
  position: relative;
}

.library {
  position: relative;
  width: 67%; 
  height: 100%;    
  display: inline-block;
  overflow: auto;
}

.all {
  border-left-width: 3px;
  border-left-style: solid;
  min-height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.picta {
  width: 100%;
  border-style: ridge;
}

.pict{ 
  width: 100%;
}
  
.pictaandtext {
  width: 27%;     
  height: auto;
  display: inline-block;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;   
  vertical-align: top;
}
  
  .pictatext {
    display: block;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    margin-top: 1%;
    padding-top: 0.2cm;
    padding-bottom: 0.1cm;
  }
  
  img.pict {
    border-width: 3px; 
    border-style: solid;
    border-radius: 10px;
  }
  
  .exit { 
    height: 2cm;
    width: 2cm;
    bottom: 2%;
    background-image: url('/uploads/images/cross.png'); 
    background-size: 100% 100%;
  }

  .chat-menu {
    width: 2cm;
    float: right;
    height: auto;
  }

  .menu-icon {
    height: 2cm;
    width: 2cm;
    margin-top: 15px;
  }
  
  #header {
    width: 100%;
    height: 70px;
    margin: 0; 
    position: absolute;
    top: 0;
    z-index: 2;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
  
  .avatar {
      width: 66px;
      height: 66px;
      position: absolute;
      top: 2px;
      z-index: 4;
  }
  
  #friend {left: 2px;}
  #me {right: 2px;}
  
  #chat {
      width: 33%;
      height: 60px;
      font-size: 1cm;
      margin: 0; 
      position: fixed;
      bottom: 0;
  }
  
  .text {
      width: 75%;
      height: 53px;
      font-size: 0.9cm;
      position: absolute;
      bottom: 0;
      resize: none;
      overflow: auto;
  }
  
  #footer_letter {
      position: absolute;
      height: 53px;
      width: 23%;
      right: 2px;
      background-image: url('/uploads/images/letter.png'); 
      background-size: 100% 100%;
      display: inline-block;
  }
  
  .folder { 
    background-image: url('/uploads/images/folder.png');
    background-size: 100% 100%; 
    border: 0;  
    display: block;
    height: 100%;
  }
  
  .downloads {
       margin-left: 20%;
       margin-bottom: 8%;
       margin-top: 32%;
       width: 60%;
       position: relative;
  }

  .downloads-picture {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  
  .libraryName {
      display: block;
      border-style: solid;
      border-radius: 10px;
      border-width: 3px;
      width: 100%;
      height: auto;
      text-align: center;
      position: relative;
      padding-top: 0.2cm;
      padding-bottom: 0.1cm;
  }
  
  .box {
      display: inline-block;
      width: 49%;
      height: auto;
      margin-bottom: 15px;
      margin-top: 15px;
  }
   
  .tablo, .tablo_msg, .tablo_uv, .tablo_pict {
    position: fixed;
    height: 80%;
    width: 60%;
    top: 10%;
    left: 20%;
    background: #FFFFFF;
    z-index: 2;
    border: 4px solid red;
    border-radius: 12px;
    vertical-align: baseline;
    z-index: 5;
   }
   
  .vtablo { 
    font-size: 1.2cm;
    text-align: center;
    vertical-align: middle;
    margin-top: 2%;
  }
   
  .ontablo {
     position: relative;
     width: 18%;
     display: inline-block;
     height: 40%;
     padding: 1%;
     overflow-y: auto;
     margin-top: 8%;
   }
  
  #ontablo_uv { 
    max-height: 90%;
    height: auto;
    width: auto;
    overflow: hidden;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 90%;
  }

  .ontablo_vote {
    max-height: 70%;
    height: auto;
    width: auto;
    overflow: hidden;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 70%;
  }
  
  #ontablo_text {display: table-cell;}
    
  #strelka, #strelka_msg {
    background: url('/uploads/images/strelka.png');
    background-size: 100% 100%; 
    height: 20%;
    margin-bottom: 5%;
  }
  #musorka, #musorka_msg {
    background: url('/uploads/images/musorka.png');
    background-size: 100% 100%;
    width: 10%;
    margin: 5%;
    height: 20%;
  }
  #question, #question_msg {
    background: url('/uploads/images/question.png');
    background-size: 100% 100%; 
  }
  
  #avatar, #delete_msg, #delete_pict {
    display: inline-block;
    margin-top: 30px;
    width: auto;
    height: auto;
    z-index: 7;
    max-height: 100%;
    max-width: 95%;
    margin: auto;
  }
  
  #delete_msg { 
       position: absolute;
       width: 88%;
       padding: 3%;
       margin: auto;
       margin-top: 10%;
  }
  
  #deleteChatMusorka{
    height: 2cm;
    width: 2cm;
    background-image: url('/uploads/images/musorka.png');
    background-size: 100% 100%;
    display: inline-block;  
    position: relative;
    margin-bottom: 2%;
    margin-left: 3%;
  }
  
  #cross, #cross_msg, #cross_uv, #cross_pict {
      background-image: url('/uploads/images/cross.png');
      background-size: 100% 100%;
      height: 2cm;
      width: 2cm;
      display: inline-block;
      bottom: 12%;
      left: 22%;
      position: fixed;
  }
  
  #tick, #tick_msg, #tick_pict {
    background-image: url('/uploads/images/tick.png');
    background-size: 100% 100%;
    height: 2cm;
    width: 2.5cm;
    display: inline-block;
    position: fixed;
    bottom: 12%;
    right: 22%;
  }

  #pause {
    background-image: url('/uploads/images/stop.png');
    background-size: 100% 100%;
    height: 2cm;
    width: 2cm;
    display: inline-block;
    position: fixed;
    bottom: 12%;
    left: 32%;
  }

  #resume {
    background-image: url('/uploads/images/start.png');
    background-size: 100% 100%;
    height: 2cm;
    width: 2cm;
    display: inline-block;
    position: fixed;
    bottom: 12%;
    left: 32%;
  }

  #send-vote {
    background-image: url('/uploads/images/letter.png');
    background-size: 100% 100%;
    height: 2cm;
    width: 4cm;
    display: inline-block;
    position: fixed;
    bottom: 12%;
    right: 32%;
  }
  
  #letterSend {
      position: absolute;
      height: 45px;
      width: 95px;
      right: 5px;
      top: 25px;
      z-index: 3;
      animation-name: send;
      animation-duration: 4s;
  }
  
  @keyframes send {
      from {right: 0;}
      to {right: 100%;}
  }
  
  #letterGet {
      position: absolute;
      height: 45px;
      width: 20%;
      right: 5px;
      top: 25px;
      z-index: 3;
      animation-name: get;
      animation-duration: 4s;
  }
  
  @keyframes get {
      from {right: 100%;}
      to {right: 0;}
  }
  
  .picture-lidrary {
      width: 200px;
      height: auto;
  }
  
  .delete, .delete_pict {
    background: url('/uploads/images/musorka.png');
    background-size: 100% 100%; 
    height: 40px;
    width: 40px;
    margin-top: 10px;
    display: block;
    float: right;
   }
  
  span.tc {background-color: transparent;}

  #div_submit {
    right: 2%; 
    top: 4cm;
    position: fixed;
  }
  
  #div_tick, #div_cross {
    margin-right: 10%;
    width: 1.5cm;
    height: 1.5cm;
  }

  .backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 4;
}
 