.nav {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    height: 55px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    z-index: 2;
}
.manage-active {
    border: 3px solid #fff;
}
.nav-admin-li-right {
    float: right;
    margin-right:3px; /*Добавляем отступ у пунктов меню*/  
    margin-left:3px;
}
.content {
    padding-bottom: 20px;
}
#nav-mobile {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
  }
.nav-admin, #submit, .new_user_button, .inst-edit {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: #fff; /*меняем цвет ссылок*/
    padding:10px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
    transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    text-align: center;
}
.nav-admin-li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:3px; /*Добавляем отступ у пунктов меню*/  
    margin-left:3px;
}
.content {
    position: relative;
    top: 80px;
    padding: 0, 0, 20px, 0;
    z-index: 1;
}
.user {
    position: relative;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    height: auto;
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.avatarAdmin {
    width: 200px;
    height: auto;
    display: inline-block;
}
.user_title {
    margin-left: 10px;
    margin-top: 5px;
}
.div_user_info {
    display: inline-block;
    padding: 3px;
}
p {
    margin: 0;
}
.button {
    margin-bottom: 10px;
    margin-top: 5px;
}
.user_filtr {
    position: fixed;
    top: 80px;
    left: 40px;
}
.in_user_filtr, .in_new_user {
    margin-top: 12px;
}
#add_user, #add_institution, #add_picture {
    position: fixed;
    right: 30px;
    top: 100px;
}
#add_folder {
    position: fixed;
    right: 30px;
    top: 150px;
}
#back_picture {
    position: fixed;
    right: 30px;
    top: 200px;
}
#submit {
    top: 15px;
    position: relative;
    bottom: 15px;
}
#new_user, #add_new_picture, #edit_picture_or_folder, #edit_user {
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    margin: auto;
    width: 700px;
    height: auto;
    padding: 15px;
    padding-right: 25px;
}
.edit-avatar {
    border-width: 2px;
    border-style: solid;
    width: 280px;
    height: 280px;
    border-radius: 3px;
    display: inline-block;
    float: right;
}
.inst-edit {
    display: inline-block;
    margin-top: -10px;
    margin-left: 5px;
}
.institution {
    width: 550px;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 10px;
}
.inst-span {
    width: 300px;
    height: 20px;
}
.pictures {
    position: relative;
    height: 100%;
    width: 700px;
    margin: auto;
    overflow: auto;
}
.picture {
    border-width: 3px;
    border-style: solid;
    border-radius: 3px; 
    height: auto;
    width: 300px;
    padding-bottom: 10px;
    margin: 10px;
    display: inline-block;
}
.picta-pictures {
    max-height: 128px;
    max-width: 128px; 
    display: block;  
    margin: auto; 
}
.picta_one {
    max-height: 258px;
    max-width: 258px; 
    display: block; 
    margin: auto;
}
.p_text {
    margin-top: 8px;
    text-align: center;
    width: 100%;
}
.p_border {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-left: 10px;
    margin-top: 10px;
}
.p_border_one {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    display: block;
    height: 260px;
    width: 260px;
    margin: auto;
    margin-top: 10px;
}
.edit-picture {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
#new_picture_select {
    width: 200px;
}
.now_img {
    width: 200px;
    height: auto;
}
.inst-right {
    float: right
}
.form_picture_button {
    margin-right: 5px;
}